*~
*.o
*.a
*.la
.deps
.libs
*.exe

# Post-build ignores

/Makefile
/config.h
/config.status
/doc/Makefile
/doc/global.info
/doc/stamp-vti
/doc/version.texi
/global/Makefile
/globash/Makefile
/globash/globash
/gozilla/Makefile
/gtags-cscope/Makefile
/gtags.conf
/gtags/Makefile
/htags-refkit/Makefile
/htags/Makefile
/htags/completion.cgi.tmpl
/htags/global.cgi.tmpl
/icons/Makefile
/jquery/Makefile
/jquery/images/Makefile
/libdb/Makefile
/libglibc/Makefile
/libparser/Makefile
/libtool
/libutil/Makefile
/libutil/langmap.h
/plugin-factory/Makefile
/plugin-factory/exuberant-ctags.lo
/plugin-factory/user-custom.lo
/script/Makefile
/script/gtags-client
/script/htags-client
/stamp-h1

# Pre-build ignores
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config-h.in
/config.guess
/config.log
/config.sub
/configure
/depcomp
/doc/Makefile.in
/doc/global.ref
/doc/globash.ref
/doc/gozilla.ref
/doc/gtags-cscope.ref
/doc/gtags.ref
/doc/htags.ref
/doc/mdate-sh
/doc/reference.texi
/global/Makefile.in
/global/const.h
/global/global.1
/globash/Makefile.in
/globash/const.h
/globash/globash.1
/gozilla/Makefile.in
/gozilla/const.h
/gozilla/gozilla.1
/gtags-cscope/Makefile.in
/gtags-cscope/const.h
/gtags-cscope/gtags-cscope.1
/gtags/Makefile.in
/gtags/const.h
/gtags/gtags.1
/htags-refkit/Makefile.in
/htags/Makefile.in
/htags/asm.c
/htags/c.c
/htags/const.h
/htags/cpp.c
/htags/htags.1
/htags/java.c
/htags/php.c
/icons/Makefile.in
/install-sh
/jquery/Makefile.in
/jquery/images/Makefile.in
/libdb/Makefile.in
/libglibc/Makefile.in
/libltdl/
/libparser/Makefile.in
/libparser/asm_parse.c
/libparser/asm_parse.h
/libparser/asm_res.gpf
/libparser/asm_res.h
/libparser/asm_scan.c
/libparser/c_res.gpf
/libparser/c_res.h
/libparser/cpp_res.gpf
/libparser/cpp_res.h
/libparser/java_res.gpf
/libparser/java_res.h
/libparser/php.c
/libparser/php_res.gpf
/libparser/php_res.h
/libutil/Makefile.in
/ltmain.sh
/missing
/plugin-factory/Makefile.in
/script/Makefile.in
